.card-title {
  font-size: 3rem !important;
  padding: 1rem 0rem;
}

input::placeholder {
  color: white;
  padding-left: 1rem;
}

label {
  font-size: 1.5rem !important;
}

h2 {
  font-size: 1.5rem;
}
